html{
    font-family: Roboto, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navigation-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1f2937;
    margin:0px;
    padding: 0px 150px 0px 150px;
    height: 75px;
}

.logo{
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}

ul{
    display: flex;
    gap: 20px;
}

li{
    list-style-type: none;
    list-style: none;
    font-size: 18px;

}

a{
    color: #e5e7eb;
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 150px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.headline{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    max-width: 350px;

}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 600px;
}

.sign-up{
    background-color:#3882f6;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.hero-image{
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
}


.information-area{
    display: flex;
    justify-content: center;
}

.info-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
}

.info-tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 100px;
}

.info-box{
    display: flex;
    flex-direction: column;
    flex: 1 0 100px;
}

.info-subtext{
    width: 150px;
    color: #1f2937;
    padding-top: 20px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.quote-area{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.quote-text{
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    width: 700px;
    align-items: center;
    justify-content: center;
}

.quote-author {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
}

.action-area{
    display: flex;
    justify-content: center;
}

.action-box{
    display: flex;
    flex: 1;
    padding: 64px 32px;
    margin:50px 200px;
    background-color: #3882f6;
    border-radius: 10px;

}

.action-title{
    font-size: 24px;
    font-weight: bold;
}

.action-subtext{
    color: #e5e7eb;
}
.action-texts{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: white;
    flex: 2 0 100px;
    padding-left: 100px;
}

.action-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 100px;
}

.action-sign-up{
    background-color:#3882f6;
    color: white;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #1f2937;
    color: white;
    height: 72px;
}